// CUSTOM FONTS
@font-face {
  font-family: 'league-spartan';
  src:  url('../../fonts/leaguespartan-bold.woff') format('woff');
  font-weight: 600, 400;
  font-style: normal;
}


// ANIMATION FUNCTIONS
@keyframes slideOut {
  0% {
    transform: translateX(0)
  }
  100% {
    transform: translateX(100%)
  }
}

@keyframes slideInWithFade {
  0% {
    transform: translateX(-5%);
    opacity: 0;
  }

  100% {
    transform: translateX(0)
  }
}

@keyframes greet {
  0% {
    font-size: 20rem;
  }

  100% {
    font-size: 10rem;
  }
}

@keyframes greetSmall {
  0% {
    font-size: 10rem;
  }

  100% {
    font-size: 6rem;
  }
}

@keyframes slideFromTop {
  0% {
    opacity: 0;
    transform: translateY(-100%)
  }
  20% {
    opacity: 0;
    transform: translateY(-80%)
  }
  21% {
    opacity: 1;
    transform: translateY(-79%)
  }
  100% {
    opacity: 1;
    transform: translateY(0)
  }
}

@keyframes slideFromRight {
  0% {
    transform: translateX(100%)
  }
  100% {
    transform: translateY(0)
  }
}

@keyframes reveal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes animateGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 0% 50%;
  }
}

// GOOGLE FONTS
@import url("https://fonts.googleapis.com/css?family=Pacifico");
@import url("https://use.fontawesome.com/releases/v5.8.1/css/all.css");

// STYLE SHEETS
@import "App/_app";
@import "components/_aboutBox";
@import "components/_aboutBoxLight";
@import "components/_navbar";
@import "components/_navbarLight";
@import "components/work";
