.concepts {
  background-color: #eee;
  height: 100%;
}

.concepts__container {
  font-family: 'league-spartan';
  font-size: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  h2 {
    color: #1a2631;
    margin: 5rem;
    text-decoration: underline;
  }
}

.concepts__odd-number {
  display: flex;
  justify-content: space-between;
  width: 99.0rem;
  height: 48.0rem;
  background: #eee;
  margin: 6rem;
  box-shadow: rgba(0, 0, 0, 0.301) 0 20px 100px 0;
  font-size: 2rem;
  color: #000;
  position:relative;

  &:after {
    content:"";
    background-color: #17293b49;
    width: 0;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transition: 0.5s;
  }

  &:hover:after {
    content:"";
    background-color: #17293bb2;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 0.5s;
    left: 0;
    top: 0;
  }

  div {
    width: 70%;
  }

  h2 {
    margin: 25rem 0 0 8rem;
    color: rgb(78, 167, 173);
    font-family: 'league-spartan';
  }

  p {
    margin: 0 0 0 8rem;
    color: rgb(78, 167, 173);
  }

  h3 {
    font-size: 15rem;
    font-family: 'league-spartan';
    color: #666363;
  }
}

.concepts__even-number {
  display: flex;
  flex-direction: row-reverse;
  width: 99.0rem;
  height: 48.0rem;
  background: #eee;
  margin: 6rem 6rem 6rem 16rem;
  box-shadow: rgba(0, 0, 0, 0.301) 0 25px 100px 0;
  font-size: 2rem;
  color: #000;
  position:relative;

  &:after {
    content:"";
    background-color: #17293b49;
    width: 0;
    height: 100%;
    position: absolute;
    left: 100%;
    top: 0;
    transition: 0.5s;
  }

  &:hover:after {
    content:"";
    background-color: #17293bb2;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 0.5s;
    left: 0%;
    top: 0;
  }

  div {
    width: 70%;
  }

  h2 {
    display: flex;
    flex-direction: row-reverse;
    margin: 25rem 8rem 0 0;
    color: rgb(78, 167, 173);
    font-family: 'league-spartan';
  }

  p {
    display: flex;
    flex-direction: row-reverse;
    margin: 0 8rem 0 0;
    color: rgb(78, 167, 173);
  }

  h3 {
    display: flex;
    width: 30%;
    font-size: 15rem;
    color: #666363;
    font-family: 'league-spartan';
  }
}
